{% extends 'base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-body">
    {% for offer in offers %}
        <div class="job-offer">
            <div class="row">
                <div class="col-2">
                    <a href="{{ url('offer', {'offerSlug': offer.slug}) }}" >
                        {% include 'specialization/_logo.html.twig' with {specialization: specializations.getFor(offer).slug } only %}
                    </a>
                </div>
                <div class="col-10">
                    <h3><a href="{{ url('offer', {'offerSlug': offer.slug}) }}" >{{ offer.position.name }} <span class="text-muted">in</span> {{ offer.company.name }}</a></h3>
                    <div class="row">
                        <div class="col-4">
                            {{ offer.createdAt|date('Y-m-d H:i:s') }}
                        </div>
                        <div class="col-4">
                            {% if offer.salary %}
                                {{ offer.salary.min|localizedcurrency(offer.salary.currencyCode) }} - {{ offer.salary.max|localizedcurrency(offer.salary.currencyCode) }} montlhy
                                {% if offer.salary.isNet %}<strong class="text-success">net</strong>{% else %}<strong class="text-warning">gross</strong>{% endif %}
                            {% else %}
                                Not defined
                            {% endif %}
                        </div>
                        <div class="col-4">
                            <a href="{{ offer.company.url }}" target="_blank" rel="nofollow">{{ offer.company.name }}</a>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-12">
                            <p>
                                {{ offer.position.description|truncate(250) }}
                            </p>
                            <div class="row">
                                <div class="col-4">
                                    <p>
                                        {% if offer.location.name %}
                                            Location: {{ offer.location.name }}
                                        {% endif %}
                                    </p>
                                </div>
                                <div class="col-4">
                                    <p>
                                        Remote: {% if offer.location.remote %}Yes{% else %}No{% endif %}
                                    </p>
                                </div>
                            </div>
                            <p class="text-right">
                                <a href="{{ url('offer', {'offerSlug': offer.slug}) }}" class="btn btn-primary btn-sm">Read more</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr />
    {% endfor %}
    </div>
</div>
{% endblock %}