{% extends '@offers/base.html.twig' %}

{% block body %}
<div class="card">
    <div class="card-body">
    {% for offer in offers %}
        <div class="job-offer">
            <div class="row">
                <div class="col-2">
                    <a href="{{ url('offer', {'offerSlug': offer.slug}) }}" >
                        {% include '@offers/specialization/_logo.html.twig' with {specialization: specializations.getFor(offer).slug } only %}
                    </a>
                </div>
                <div class="col-10">
                    {{ include('@offers/offer/_list_entry.html.twig', {offer: offer}, false) }}
                </div>
            </div>
        </div>
        {% if not loop.last %}
            <hr />
        {% endif %}
    {% endfor %}
    </div>
</div>
{% if offersMore > offers|length %}
    <p class="mt-2">
        {% if showingOlder %}
            <a class="btn btn-primary mr-2" href="{{ url('home') }}">Show latest</a>
        {% endif %}
        <a class="btn btn-secondary" href="{{ url('home', {specSlug: specialization.slug, after: offers.last.id.toString}) }}">Show more</a>
    </p>
{% else %}
    {% if showingOlder %}
        <p class="mt-2">
            <a class="btn btn-primary" href="{{ url('home') }}">Show latest</a>
        </p>
    {% endif %}
{% endif %}
{% endblock %}