{% extends '@offers/base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
<style type="text/css">
    .specialization .logo svg {
        max-width: 250px;
    }
    .specialization .logo img {
        max-width: 250px;
        max-height: 250px;
    }
</style>
{% endblock %}

{% block header %}
<div class="pt-5 text-center">
    <h1><a href="{{ url('home') }}">Hire in Social!</a></h1>
    <p class="lead">
        We have only best job offers!
    </p>
</div>
{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            {% for specialization in specializations %}
            <div class="col-md-4 mb-4">
                <div class="card specialization">
                    <div class="card-title text-center mt-2">
                        <h1>
                            <a href="{{ url('specialization_offers', {specSlug: specialization.slug}) }}">
                            {% include '@offers/specialization/_name.html.twig' with {specialization: specialization.slug} only %}
                            </a>
                        </h1>
                        <div class="logo">
                            <a href="{{ url('specialization_offers', {specSlug: specialization.slug}) }}">
                                {% include '@offers/specialization/_logo.html.twig' with {specialization: specialization.slug} only %}
                            </a>
                        </div>
                        offers: {{ specialization.offers.count }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}