<div class="job-offer" data-id="{{ offer.id }}">
    <h3><a href="{{ url('offer', {'offerSlug': offer.slug}) }}" >{{ offer.position.name }} <span class="text-muted">in</span> {{ offer.company.name }}</a></h3>

    <div class="row">
        <div class="col-4">
            {{ offer.createdAt|time_diff }}
        </div>
        <div class="col-4">
            {% if offer.salary %}
                <strong><span data-salary-min="{{ offer.salary.min }}">{{ offer.salary.min|localizedcurrency(offer.salary.currencyCode) }}</span> - <span data-salary-max="{{ offer.salary.max }}">{{ offer.salary.max|localizedcurrency(offer.salary.currencyCode) }}</span></strong> {% if offer.salary.periodTypeTotal %}in total{% else %}per {{ offer.salary.periodType }}{% endif %}
                {% if offer.salary.isNet %}<strong class="text-success">net</strong>{% else %}<strong class="text-warning">gross</strong>{% endif %}
            {% else %}
                Not defined
            {% endif %}
        </div>
        <div class="col-4">
            <a href="{{ offer.company.url }}" target="_blank" rel="nofollow">{{ offer.company.name }}</a>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <p>
                {{ offer.position.description|truncate(300) }}
            </p>
            <div class="row">
                <div class="col-4">
                    <p>
                        {% if offer.location.name %}
                            Location: {{ offer.location.name }}
                        {% endif %}
                    </p>
                </div>
                <div class="col-4">
                    <p>
                        Remote: {% if offer.location.remote %}Yes{% else %}No{% endif %}
                    </p>
                </div>
            </div>
            <p class="text-right">
                <a href="{{ url('offer', {'offerSlug': offer.slug}) }}" class="btn btn-primary btn-sm">Read more</a>
            </p>
        </div>
    </div>
</div>