{% extends 'base.html.twig' %}

{% block hero_block %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-6">
            {% if previousOffer %}
                <a href="{{ url('offer', {'offerSlug': previousOffer.slug}) }}" class="btn btn-outline-secondary">Poprzednia Oferta</a>
            {% endif %}
        </div>
        <div class="col-6 text-right">
            {% if nextOffer %}
                <a href="{{ url('offer', {'offerSlug': nextOffer.slug}) }}" class="btn btn-outline-secondary">Następna Oferta</a>
            {% endif %}
        </div>
    </div>
    <h1>{{ offer.position.name }} <span class="text-muted">w</span> {{ offer.company.name }}</strong></h1>
    <div class="row">
        <div class="col-6">
            <h4>Opis Stanowiska</h4>
            <div class="card">
                <div class="card-body">
                    <p>
                        {{ offer.position.description }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h4>Wynagrodzenie</h4>

            {% if offer.salary %}
            <div class="card">
                <div class="card-body">
                    {{ offer.salary.min|localizedcurrency(offer.salary.currencyCode) }} - {{ offer.salary.max|localizedcurrency(offer.salary.currencyCode) }}
                    {% if offer.salary.isNet %}<strong class="text-success">netto</strong>{% else %}<strong class="text-warning">brutto</strong>{% endif %}
                </div>
            </div>
            {% else %}
                <div class="alert alert-warning">
                    W tym ogłoszeniu pracodawca nie zdefiniował widełek. Nie ma w tym nic złego, pamiętaj że możesz rozpocząć
                    rozmowę od ustalenia zakresu wynagrodzenia jakim jesteś zainteresowany.
                </div>
            {% endif %}

            <h4 class="mt-2">Kontakt</h4>
            <div class="card">
                <div class="card-body">
                    <p>
                        Jeżeli jesteś zainteresowany ofertą wyślij CV na adres: <a href="mailto:{{ offer.contact.email }}">{{ offer.contact.email }}</a>
                    </p>
                    <p class="text-right">
                        {{ offer.contact.name }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="mt-3">{{ offer.company.name }}</h2>
    <div class="card">
        <div class="card-body">
            <p>
                {{ offer.company.description }}
            </p>

            <p class="text-right">
                <a href="{{ offer.company.url }}" class="btn-link">{{ offer.company.url }}</a>
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-6">
            <h3>Benefity</h3>
            <div class="card">
                <div class="card-body">
                    <p>
                        {{ offer.description.benefits }}
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <h3>Wymagania</h3>
            <div class="card">
                <div class="card-body">
                    <p>
                        {{ offer.description.requirements }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}