{% extends '@offers/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2 class="text-center">We have {{ total }} offers in <strong>{% include '@offers/specialization/_name.html.twig' with {specialization: specialization.slug} only %}</strong> specialization {% include '@offers/specialization/_logo_plain.html.twig' with { specialization: specialization.slug} only %}</h2>
    <p class="alert alert-info text-center">
        Below you can find all job offers in this specialization. Job offers can't be added more frequently than {{ throttleLimit }} per {{ throttleSince.format('%d') }} days.<br/>
        By default, we are not displaying you offers older than 14 days, most interesting offers after that time are already outdated.
    </p>
    <div class="row">
        <div class="col-2">
            <h3 class="d-inline">
                Filter
                {% if queryParameters|length %}
                    <a href="{{ url('specialization_offers', {specSlug: specialization.slug}) }}" class="btn btn-danger btn-sm"><i class="fas fa-times"></i></a>
                {% endif %}
            </h3>
            <p>
                <small class="text-muted">Find best job offer for you.</small>
            </p>

            {{ form_start(form, {'method': 'GET', 'action': path('specialization_offers', {specSlug: specialization.slug}|merge(queryParameters)) }) }}
                {{ form_row(form.remote, {label: "Remote"}) }}
                {{ form_row(form.with_salary, {label: "Only with salary"}) }}
                {{ form_row(form.with_salary, {label: null}) }}
                {{ form_row(form.sort_by, {label: "Sort Offers"}) }}
                {{ form_row(form.submit, {label: "Search", attr: {class: "btn btn-primary btn-block"}}) }}
            {{ form_end(form) }}

        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                {% for offer in offers %}
                    {{ include('@offers/offer/_list_entry.html.twig', {offer: offer}, false) }}
                    {% if not loop.last %}
                    <hr />
                    {% endif %}
                {% else %}
                    <div class="alert alert-warning text-center">
                        Sorry, currently we don't have any interesting offers in this specialization, please try again later or
                        <a href="{{ url('offer_new', {specSlug: specialization.slug}) }}">add new offer.</a>
                    </div>
                {% endfor %}
                </div>
            </div>
            {% if offersMore > offers|length %}
            <p class="mt-2">
                {% if showingOlder %}
                    <a class="btn btn-primary mr-2" href="{{ url('specialization_offers', {specSlug: specialization.slug}) }}">Show latest</a>
                {% endif %}
                <a class="btn btn-secondary" href="{{ url('specialization_offers', {specSlug: specialization.slug, after: offers.last.id.toString}) }}">Show more</a>
            </p>
            {% else %}
                {% if showingOlder %}
                    <p class="mt-2">
                        <a class="btn btn-primary" href="{{ url('specialization_offers', {specSlug: specialization.slug}) }}">Show latest</a>
                    </p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}