{% extends '@notifications/email/base.html.twig' %}

{% block body %}
<div class="text-center">
    <h1 class="font-weight-bold">
        Your job offer was posted!
    </h1>
    <h2>{{ offer.seniorityLevel | offer_seniority_level_name }} - {{ offer.position }}</h2>

    <img src="https://{{ his.domain }}/assets/img/specialization/jpg/{{ offer.specializationSlug }}.jpg" style="max-width:150px;max-height:150px;"/>

    <h3><a href="{{ offer.companyUrl }}" target="_blank">{{ offer.companyName }}</a></h3>
    <p>
        It will be available for the next {{ his.old_offer_days }} days.
    </p>
    <p class="mb-3">
        Expect to receive applications on your email address directly.
    </p>

    <a href="{{ url('offer', {offerSlug: offer.offerSlug}) }}" class="btn btn-large btn-primary" target="_blank">See offer</a>

    <p class="small mt-3 color-light">
        It wasn't you? If this offer is already expired or you just simply don't <br/>
        want us to present it to our community, let us know at <a href="mailto:{{ report_email }}" target="_blank">{{ report_email }}</a>
    </p>
</div>
{% endblock %}