{% extends '@offers/base.html.twig' %}

{% block body %}
<div class="container-fluid bg-light pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Profile</h3>
                <div class="card">
                    <div class="card-body">
                    <ul class="ml-0 pl-1">
                        <li><span data-user-email="{{ user.email }}">{{ user.email }}</span></li>
                        <li>Offers left: {{ offersLeft }}</li>
                        <li>Extra Offers: {{ extraOffersCount }}</li>
                        {% if extraOffer %}
                        <li>Expiration: {{ extraOffer.expiresAt|time_diff }}</li>
                        {% endif %}
                    </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <h3>Your Offers</h3>
                <div class="card">
                    <div class="card-body">
                        {% for offer in offers %}
                            <h3><span class="badge badge-primary">{{ offer.position.seniorityLevel|offer_seniority_level_name }}</span> <a href="{{ url('offer', {'offerSlug': offer.slug}) }}" >{{ offer.position.name }} <span class="text-muted">in</span> {{ offer.company.name }}</a></h3>
                            <div class="row">
                                <div class="col-4">
                                    {{ offer.createdAt|time_diff }}
                                </div>
                                <div class="col-4">
                                    {% if offer.salary %}
                                        <strong><span data-salary-min="{{ offer.salary.min }}">{{ offer.salary.min|localizedcurrency(offer.salary.currencyCode) }}</span> - <span data-salary-max="{{ offer.salary.max }}">{{ offer.salary.max|localizedcurrency(offer.salary.currencyCode) }}</span></strong> {% if offer.salary.periodTypeTotal %}in total{% else %}per {{ offer.salary.periodType }}{% endif %}
                                        {% if offer.salary.isNet %}<strong class="text-success">net</strong>{% else %}<strong class="text-warning">gross</strong>{% endif %}
                                    {% else %}
                                        Not defined
                                    {% endif %}
                                </div>
                                <div class="col-4">
                                    <a href="{{ offer.company.url }}" target="_blank" rel="nofollow">{{ offer.company.name }}</a>
                                </div>
                            </div>
                            <div class="row mt-4">
                                <div class="col-12">
                                    <p>
                                        {{ offer.position.description|truncate(300) }}
                                    </p>
                                    <div class="row">
                                        <div class="col-4">
                                            <p>
                                                {% if offer.location.name %}
                                                    Location: {{ offer.location.name }}
                                                {% endif %}
                                            </p>
                                        </div>
                                        <div class="col-4">
                                            <p>
                                                Remote: {% if offer.location.remote %}Yes{% else %}No{% endif %}
                                            </p>
                                        </div>
                                    </div>
                                    <p class="text-right">
                                        <a href="{{ url('offer', {'offerSlug': offer.slug}) }}" class="btn btn-primary btn-sm">Read more</a>
                                    </p>
                                </div>
                            </div>
                            Received applications: {{ offer.applicationsCount }}
                            <div class="mt-2">
                                <a class="btn btn-primary btn-sm" href="{{ url('offer_new', {specSlug: offer.specializationSlug, 'offer-slug': offer.slug }) }}">Post Again</a>
                            </div>
                            {% if not loop.last %}
                                <hr />
                            {% endif %}
                        {% else %}
                            <div class="alert alert-info">
                                <p>
                                    It looks you have not posted any offers so far. It's fine, not everyone is a recruiter after all.
                                    You can always change your mind and try to recruit people to your team, it's easy. Just be honest.
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% if offersMore > offers|length %}
                    <p class="mt-2">
                        {% if showingOlder %}
                            <a class="btn btn-primary mr-2" href="{{ url('user_profile') }}">Show latest</a>
                        {% endif %}
                        <a class="btn btn-secondary" href="{{ url('user_profile', {after: offers.last.id.toString}) }}">Show older</a>
                    </p>
                {% else %}
                    {% if showingOlder %}
                        <p class="mt-2">
                            <a class="btn btn-primary" href="{{ url('user_profile') }}">Show latest</a>
                        </p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}