{% extends '@offers/base.html.twig' %}

{% block body %}
<div class="container-fluid pt-4 bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Profile</h3>
                <div class="alert {% if throttled and extraOffersCount <= 0 %}alert-warning{% else %}alert-success{% endif %}">
                    <ul class="list-unstyled">
                        <li><span data-user-email="{{ user.email }}">{{ user.email }}</span></li>
                        <li>Offers left: {{ offersLeft }}</li>
                        <li>Extra Offers: {{ extraOffersCount }}</li>
                        {% if extraOffer %}
                        <li>Expiration: {{ extraOffer.expiresAt|time_diff }}</li>
                        {% endif %}
                    </ul>
                </div>
                {% if throttled and extraOffersCount <= 0 %}
                <div class="alert alert-info small text-dark">
                    No offers left, and you really need to post this amazing job offer? <br/>
                    No problem, email us at <a href="mailto:{{ contact_email }}">{{ contact_email }}</a> and we might
                    find for you few extra offers.
                </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <h3>Posted Offers - {{ totalOffers }}</h3>
                <hr />
                {% for offer in offers %}
                    <div class="row mt-4 mb-2">
                        <div class="col-md-6">
                            Name: <a href="{{ url('offer', {'offerSlug': offer.slug}) }}" >{{ offer.position.seniorityLevel|offer_seniority_level_name }} {{ offer.position.name }}</a>
                        </div>
                        <div class="col-md-6">
                            Company: <a href="{{ offer.company.url }}" target="_blank">{{ offer.company.name }}</a>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            Specialization: <a href="{{ url('specialization_offers', {specSlug: offer.specializationSlug}) }}">{% include '@offers/specialization/_name.html.twig' with {specialization: offer.specializationSlug } only %}</a>
                        </div>
                        <div class="col-md-6">
                            Received applications: {{ offer.applicationsCount }}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            Salary:
                            {% if offer.salary %}
                                {{ offer.salary.currencyCode }} {{ offer.salary.min|offer_salary_integer }} - {{ offer.salary.max|offer_salary_integer }}
                            {% else %}
                                Not defined
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            {% if offer.salary %}
                                {% if offer.salary.isNet %}net{% else %}gross{% endif %} per {{ offer.salary.periodType }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-md-6">
                            Posted: {% include '@offers/offer/offer/_created_at.html.twig' with {offer: offer} only %}
                        </div>
                        <div class="col-md-6">
                            <a class="btn btn-primary btn-sm mr-3" href="{{ url('offer_new', {specSlug: offer.specializationSlug, 'offer-slug': offer.slug }) }}">post again</a>
                            <a href="{{ url('offer_remove_confirmation', {offerSlug: offer.slug}) }}" data-remove-offer class="btn btn-danger btn-sm"><i class="fas fa-times"></i> remove</a>
                        </div>
                    </div>
                    <hr />
                {% else %}
                    <div class="alert alert-info text-center">
                        It looks you have not posted any offers so far.
                    </div>
                {% endfor %}
                {% if offersMore > offers|length %}
                    <div class="mt-2 row mb-4">
                        <div class="col-md-6 text-left">
                            {% if showingOlder %}
                                <a class="btn btn-primary mr-2" href="{{ url('user_profile') }}">Show latest</a>
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-right">
                            <a class="btn btn-secondary" href="{{ url('user_profile', {after: offers.last.id.toString}) }}">Show older</a>
                        </div>
                    </div>
                {% else %}
                    {% if showingOlder %}
                        <div class="mt-2 row mb-4">
                            <div class="col-md-6 text-left">
                                <a class="btn btn-primary" href="{{ url('user_profile') }}">Show latest</a>
                            </div>
                            <div class="col-md-6 text-right">
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}