<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}itoffers.online - best job offers!{% endblock %}</title>
    {% block favicon %}
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/favicon/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="IT Offers Online">
        <meta name="application-name" content="IT Offers Online">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
    {% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% block meta %}
        <meta property="og:image" content="/assets/img/logo/logo.png" />
        <meta property="og:url" content="{{ url('home') }}" />
        <meta property="og:type" content="website" />
        <meta property="og:locale" content="en_US" />
        <meta property="og:description" content="The best job offers for IT Specialists" />
        <meta property="fb:app_id" content="{{ facebook.app_id }}" />
        <meta property="og:title" content="IT Offers Online - best job offers!" />
    {% endblock %}
    <script src="/assets/dist/js/offers.js"></script>
    {% block headerjs %}{% endblock %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//wpcc.io/lib/1.0.2/cookieconsent.min.css"/>
    {% block stylesheets %}{% endblock %}
    <div id="fb-root"></div>
</head>
<body class="bg-white">
    {{ render_esi(controller('App\\Offers\\Controller\\LayoutController::navbarAction')) }}

    {% block header %}
        {{ render_esi(controller('App\\Offers\\Controller\\LayoutController::headerAction', {specialization: selected_specialization})) }}
    {% endblock %}

    {% for label, messages in app.flashes(['warning', 'error', 'success']) %}
        {% for message in messages %}
            <div class="container">
                <div data-alert-{{ label }} class="alert alert-{{ label }} text-center">
                    {{ message|raw }}
                </div>
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
    <div class="container-fluid pt-2">
        <div class="container">
            <footer class="my-md-5">
                <div class="row">
                    <div class="col-md-3">
                        <h5 class="font-weight-bold">Resources</h5>
                        <ul class="list-unstyled">
                            <li><a href="{{ url('how_it_works') }}">How it works</a></li>
                            <li><a href="{{ url('terms_and_conditions') }}">Terms & conditions</a></li>
                            <li><a href="{{ url('privacy_policy') }}">Privacy policy</a></li>
                            <li><a href="{{ url('cookies_policy') }}">Cookies</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-3 col-md-3">
                        <h5 class="font-weight-bold">Contact</h5>
                        <ul class="list-unstyled">
                            <li><a target="_blank" href="mailto:{{ contact_email }}"><i class="fas fa-envelope-square"></i> {{ contact_email }}</a></li>
                            <li><a target="_blank" href="{{ facebook.page_url }}"><i class="fab fa-facebook"></i> Page</a> </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId      : '{{ facebook.app_id }}',
                xfbml      : true,
                version    : 'v5.0'
            });

            FB.AppEvents.logPageView();
        };
        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <script src="//wpcc.io/lib/1.0.2/cookieconsent.min.js"></script>
    <script>window.addEventListener("load", function(){window.wpcc.init({"border":"thin","corners":"small","colors":{"popup":{"background":"#f6f6f6","text":"#000000","border":"#555555"},"button":{"background":"#555555","text":"#ffffff"}},"position":"bottom","content":{"href":"/cookies-policy"}})});</script>
    <script>window.twttr = (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
            if (d.getElementById(id)) return t;
            js = d.createElement(s);
            js.id = id;
            js.src = "https://platform.twitter.com/widgets.js";
            fjs.parentNode.insertBefore(js, fjs);

            t._e = [];
            t.ready = function(f) {
                t._e.push(f);
            };

            return t;
        }(document, "script", "twitter-wjs"));</script>
    {% block javascripts %}
    {% endblock %}
</body>
</html>
