{% extends '@offers/base.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <h2 class="text-center">Znaleźliśmy {{ total }} ogłoszeń w kategorii <strong>{% include '@offers/specialization/_name.html.twig' with {specialization: specialization.slug} only %}</strong> {% include '@offers/specialization/_logo_plain.html.twig' with { specialization: specialization.slug} only %}</h2>
    <p class="alert alert-info">
        Poniżej możesz znaleźć wszystkie najświeższe ofety pracy. Oferty mogą być dodawane nie częściej niż raz dziennie co gwarantuje ich różnorodność.
        Domyślnie nie wyświetlamy ofert starszych niż 2 tygodnie, najciekawsze oferty po tym czasie przeważnie i tak przestają być aktualne.
    </p>
    <div class="row">
        <div class="col-2">
            <h3 class="d-inline">
                Filtruj
                {% if queryParameters|length %}
                    <a href="{{ url('specialization_offers', {specSlug: specialization.slug}) }}" class="btn btn-danger btn-sm"><i class="fas fa-times"></i></a>
                {% endif %}
            </h3>
            <p>
                <small class="text-muted">Znajdź idealną ofertę dla siebie.</small>
            </p>

            {{ form_start(form, {'method': 'GET', 'action': path('specialization_offers', {specSlug: specialization.slug}|merge(queryParameters)) }) }}
                {{ form_row(form.remote, {label: "Zdalnie"}) }}
                {{ form_row(form.with_salary, {label: "Tylko z podaną pensją"}) }}
                {{ form_row(form.with_salary, {label: null}) }}
                {{ form_row(form.sort_by, {label: 'Sortuj Oferty'}) }}
                {{ form_row(form.submit, {label: "Szukaj", attr: {class: "btn btn-primary btn-block"}}) }}
            {{ form_end(form) }}

        </div>
        <div class="col-10">
            <div class="card">
                <div class="card-body">
                {% for offer in offers %}
                    <div class="job-offer" data-id="{{ offer.id }}">
                        <h3><a href="{{ url('offer', {'offerSlug': offer.slug}) }}" >{{ offer.position.name }} <span class="text-muted">w</span> {{ offer.company.name }}</a></h3>

                        <div class="row">
                            <div class="col-4">
                                {{ offer.createdAt|date('Y-m-d H:i:s') }}
                            </div>
                            <div class="col-4">
                                {% if offer.salary %}
                                    <span data-salary-min="{{ offer.salary.min }}">{{ offer.salary.min|localizedcurrency(offer.salary.currencyCode) }}</span> - <span data-salary-max="{{ offer.salary.max }}">{{ offer.salary.max|localizedcurrency(offer.salary.currencyCode) }}</span>
                                {% if offer.salary.isNet %}<strong class="text-success">netto</strong>{% else %}<strong class="text-warning">brutto</strong>{% endif %}
                                {% else %}
                                    Niesprecyzowane <small><i class="fas fa-info-circle" data-toggle="tooltip" data-placement="top" title="Czasami firmy nie mogą podawać wynagrodzeń, przed podejściem do rekrutacji zapytaj czy Twoja wymagania finansowe są akceptowalne."></i></small>
                                {% endif %}
                            </div>
                            <div class="col-4">
                                <a href="{{ offer.company.url }}" target="_blank" rel="nofollow">{{ offer.company.name }}</a>
                            </div>
                        </div>
                        <div class="row mt-4">
                            <div class="col-12">
                                <p>
                                    {{ offer.position.description|truncate(300) }}
                                </p>
                                <div class="row">
                                    <div class="col-4">
                                        <p>
                                            {% if offer.location.name %}
                                                Lokalizacja: {{ offer.location.name }}
                                            {% endif %}
                                        </p>
                                    </div>
                                    <div class="col-4">
                                        <p>
                                            Zdalnie: {% if offer.location.remote %}Tak <i class="fas fa-info-circle" data-toggle="tooltip" data-placement="right" title="Pamiętaj aby ustalić z pracodawcą zakres pracy zdalnej."></i>{% else %}Nie{% endif %}
                                        </p>
                                    </div>
                                </div>
                                <p class="text-right">
                                    <a href="{{ url('offer', {'offerSlug': offer.slug}) }}" class="btn btn-primary btn-sm">Więcej</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <hr />
                {% else %}
                    <div class="alert alert-warning text-center">
                        Nie mamy aktualnie żadnych ogłoszeń w ramach tej specjalizacji. Spróbuj później lub
                        <a href="{{ url('offer_new', {specSlug: specialization.slug}) }}">dodaj ogłoszenie.</a>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}